<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [1]:
!pip install pandas
!pip install matplotlib

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.12/site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (4.55.8)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.2.2)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [2]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [3]:
# Write your code here
df = pd.read_csv(dataset_url)

# Display the column data types
print("Column Data Types:")
print(df.dtypes)

# Display the counts of non-missing values for each column
print("\nCounts of Non-Missing Values:")
print(df.count())

# Display the counts of missing values for each column
print("\nCounts of Missing Values:")
print(df.isnull().sum())

Column Data Types:
ResponseId               int64
MainBranch              object
Age                     object
Employment              object
RemoteWork              object
                        ...
JobSatPoints_11        float64
SurveyLength            object
SurveyEase              object
ConvertedCompYearly    float64
JobSat                 float64
Length: 114, dtype: object

Counts of Non-Missing Values:
ResponseId             65437
MainBranch             65437
Age                    65437
Employment             65437
RemoteWork             54806
                       ...
JobSatPoints_11        29445
SurveyLength           56182
SurveyEase             56238
ConvertedCompYearly    23435
JobSat                 29126
Length: 114, dtype: int64

Counts of Missing Values:
ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 114, dtype: int64

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [4]:
# Write your code here
# Generate basic statistics for numerical columns
numerical_stats = df.describe()
print("Basic Statistics for Numerical Columns:")
print(numerical_stats)

Basic Statistics for Numerical Columns:
         ResponseId      CompTotal       WorkExp  JobSatPoints_1  \
count  65437.000000   3.374000e+04  29658.000000    29324.000000
mean   32719.000000  2.963841e+145     11.466957       18.581094
std    18890.179119  5.444117e+147      9.168709       25.966221
min        1.000000   0.000000e+00      0.000000        0.000000
25%    16360.000000   6.000000e+04      4.000000        0.000000
50%    32719.000000   1.100000e+05      9.000000       10.000000
75%    49078.000000   2.500000e+05     16.000000       22.000000
max    65437.000000  1.000000e+150     50.000000      100.000000

       JobSatPoints_4  JobSatPoints_5  JobSatPoints_6  JobSatPoints_7  \
count    29393.000000    29411.000000    29450.000000     29448.00000
mean         7.522140       10.060857       24.343232        22.96522
std         18.422661       21.833836       27.089360        27.01774
min          0.000000        0.000000        0.000000         0.00000
25%          0.000000        0.000000        0.000000         0.00000
50%          0.000000        0.000000       20.000000        15.00000
75%          5.000000       10.000000       30.000000        30.00000
max        100.000000      100.000000      100.000000       100.00000

       JobSatPoints_8  JobSatPoints_9  JobSatPoints_10  JobSatPoints_11  \
count    29456.000000    29456.000000     29450.000000     29445.000000
mean        20.278165       16.169432        10.955713         9.953948
std         26.108110       24.845032        22.906263        21.775652
min          0.000000        0.000000         0.000000         0.000000
25%          0.000000        0.000000         0.000000         0.000000
50%         10.000000        5.000000         0.000000         0.000000
75%         25.000000       20.000000        10.000000        10.000000
max        100.000000      100.000000       100.000000       100.000000

       ConvertedCompYearly        JobSat
count         2.343500e+04  29126.000000
mean          8.615529e+04      6.935041
std           1.867570e+05      2.088259
min           1.000000e+00      0.000000
25%           3.271200e+04      6.000000
50%           6.500000e+04      7.000000
75%           1.079715e+05      8.000000
max           1.625660e+07     10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [5]:
# Write your code here
# Example: Identify inconsistent or irrelevant entries in the 'Age' column
# Display unique values in the 'Age' column
unique_ages = df['Age'].unique()
print("Unique values in the 'Age' column:")
print(unique_ages)

# Example: Identify outliers in the 'ConvertedCompYearly' column
# Calculate the interquartile range (IQR)
Q1 = df['ConvertedCompYearly'].quantile(0.25)
Q3 = df['ConvertedCompYearly'].quantile(0.75)
IQR = Q3 - Q1

# Define the lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers = df[(df['ConvertedCompYearly'] < lower_bound) | (df['ConvertedCompYearly'] > upper_bound)]
print("Outliers in the 'ConvertedCompYearly' column:")
print(outliers)

# Example: Validate data against expected formats or ranges
# Check for invalid entries in the 'RemoteWork' column
valid_remote_work_values = ['Remote', 'Hybrid', 'On-site']
invalid_remote_work_entries = df[~df['RemoteWork'].isin(valid_remote_work_values)]
print("Invalid entries in the 'RemoteWork' column:")
print(invalid_remote_work_entries)

Unique values in the 'Age' column:
['Under 18 years old' '35-44 years old' '45-54 years old'
 '18-24 years old' '25-34 years old' '55-64 years old' 'Prefer not to say'
 '65 years or older']
Outliers in the 'ConvertedCompYearly' column:
       ResponseId                      MainBranch              Age  \
428           429  I am a developer by profession  25-34 years old
456           457  I am a developer by profession  45-54 years old
461           462  I am a developer by profession  45-54 years old
529           530  I am a developer by profession  25-34 years old
545           546  I am a developer by profession  35-44 years old
...           ...                             ...              ...
40952       40953  I am a developer by profession  35-44 years old
41000       41001  I am a developer by profession  35-44 years old
41001       41002  I am a developer by profession  45-54 years old
41027       41028  I am a developer by profession  55-64 years old
41187       41188  I am a developer by profession  55-64 years old

                                              Employment  \
428                                  Employed, full-time
456                                  Employed, full-time
461                                  Employed, full-time
529                                  Employed, full-time
545                                  Employed, full-time
...                                                  ...
40952                                Employed, full-time
41000                                Employed, full-time
41001             Employed, full-time;Student, part-time
41027  Independent contractor, freelancer, or self-em...
41187  Employed, full-time;Independent contractor, fr...

                                 RemoteWork   Check  \
428                                  Remote  Apples
456    Hybrid (some remote, some in-person)  Apples
461    Hybrid (some remote, some in-person)  Apples
529                               In-person  Apples
545                                  Remote  Apples
...                                     ...     ...
40952                                Remote  Apples
41000  Hybrid (some remote, some in-person)  Apples
41001  Hybrid (some remote, some in-person)  Apples
41027                                Remote  Apples
41187  Hybrid (some remote, some in-person)  Apples

                                        CodingActivities  \
428    Hobby;Professional development or self-paced l...
456                         I don’t code outside of work
461    Hobby;Professional development or self-paced l...
529                                                Hobby
545    Hobby;Contribute to open-source projects;Profe...
...                                                  ...
40952                                              Hobby
41000                       I don’t code outside of work
41001                            School or academic work
41027                       I don’t code outside of work
41187  Hobby;Contribute to open-source projects;Boots...

                                                 EdLevel  \
428         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
456       Professional degree (JD, MD, Ph.D, Ed.D, etc.)
461      Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
529         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
545    Secondary school (e.g. American high school, G...
...                                                  ...
40952  Some college/university study without earning ...
41000       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
41001       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
41027  Some college/university study without earning ...
41187                                     Something else

                                               LearnCode  \
428    Books / Physical media;On the job training;Oth...
456              School (i.e., University, College, etc)
461    Books / Physical media;Colleague;On the job tr...
529    Books / Physical media;School (i.e., Universit...
545    Books / Physical media;Colleague;On the job tr...
...                                                  ...
40952  Books / Physical media;Colleague;Other online ...
41000  Colleague;On the job training;Other online res...
41001  Books / Physical media;Colleague;Other online ...
41027                            Other (please specify):
41187  Books / Physical media;Colleague;On the job tr...

                                         LearnCodeOnline  ... JobSatPoints_6  \
428    Technical documentation;Blogs;Books;Written Tu...  ...            0.0
456                                                  NaN  ...           10.0
461    Technical documentation;Blogs;Books;Written Tu...  ...           20.0
529                                                  NaN  ...           40.0
545    Technical documentation;Blogs;Books;Written Tu...  ...           30.0
...                                                  ...  ...            ...
40952       Technical documentation;Blogs;Stack Overflow  ...            NaN
41000  Technical documentation;Blogs;Written Tutorial...  ...           60.0
41001  Technical documentation;Books;Written Tutorial...  ...            NaN
41027                                                NaN  ...            0.0
41187  Technical documentation;Books;Written Tutorial...  ...           25.0

      JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
428              0.0            0.0           25.0            25.0
456             10.0            0.0            0.0             0.0
461             50.0            0.0           10.0            10.0
529             20.0            0.0           30.0            10.0
545              5.0            5.0           10.0             0.0
...              ...            ...            ...             ...
40952            NaN            NaN            NaN             NaN
41000           50.0            0.0           80.0            50.0
41001            NaN            NaN            NaN             NaN
41027            0.0            0.0            0.0             0.0
41187           10.0           10.0           10.0             5.0

      JobSatPoints_11           SurveyLength                  SurveyEase  \
428              25.0  Appropriate in length  Neither easy nor difficult
456               0.0  Appropriate in length  Neither easy nor difficult
461               0.0  Appropriate in length  Neither easy nor difficult
529               0.0  Appropriate in length                        Easy
545               0.0  Appropriate in length                        Easy
...               ...                    ...                         ...
40952             NaN  Appropriate in length                        Easy
41000             0.0               Too long  Neither easy nor difficult
41001             NaN  Appropriate in length                        Easy
41027             0.0  Appropriate in length  Neither easy nor difficult
41187             5.0  Appropriate in length  Neither easy nor difficult

      ConvertedCompYearly JobSat
428              230000.0    8.0
456              300000.0    1.0
461              254425.0    7.0
529              650000.0    6.0
545              400000.0    8.0
...                   ...    ...
40952            750000.0    NaN
41000            235000.0    6.0
41001            260000.0    NaN
41027            700000.0   10.0
41187            222834.0   10.0

[978 rows x 114 columns]
Invalid entries in the 'RemoteWork' column:
       ResponseId                      MainBranch                 Age  \
3               4           I am learning to code     18-24 years old
4               5  I am a developer by profession     18-24 years old
5               6     I code primarily as a hobby  Under 18 years old
7               8           I am learning to code     18-24 years old
8               9     I code primarily as a hobby     45-54 years old
...           ...                             ...                 ...
65430       65431           I am learning to code     18-24 years old
65431       65432  I am a developer by profession     45-54 years old
65434       65435  I am a developer by profession     25-34 years old
65435       65436  I am a developer by profession     18-24 years old
65436       65437     I code primarily as a hobby     18-24 years old

                                              Employment  \
3                                     Student, full-time
4                                     Student, full-time
5                                     Student, full-time
7      Student, full-time;Not employed, but looking f...
8                                    Employed, full-time
...                                                  ...
65430  Not employed, but looking for work;Employed, p...
65431                                Employed, full-time
65434                                Employed, full-time
65435                                Employed, full-time
65436                                 Student, full-time

                                 RemoteWork   Check  \
3                                       NaN  Apples
4                                       NaN  Apples
5                                       NaN  Apples
7                                       NaN  Apples
8                                 In-person  Apples
...                                     ...     ...
65430                             In-person  Apples
65431  Hybrid (some remote, some in-person)  Apples
65434                             In-person  Apples
65435  Hybrid (some remote, some in-person)  Apples
65436                                   NaN  Apples

                                        CodingActivities  \
3                                                    NaN
4                                                    NaN
5                                                    NaN
7                                                    NaN
8                                                  Hobby
...                                                  ...
65430  Hobby;Professional development or self-paced l...
65431  Hobby;Contribute to open-source projects;Profe...
65434                                              Hobby
65435  Hobby;Contribute to open-source projects;Profe...
65436                                                NaN

                                                 EdLevel  \
3      Some college/university study without earning ...
4      Secondary school (e.g. American high school, G...
5                              Primary/elementary school
7      Secondary school (e.g. American high school, G...
8         Professional degree (JD, MD, Ph.D, Ed.D, etc.)
...                                                  ...
65430                                                NaN
65431       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65434       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65435  Secondary school (e.g. American high school, G...
65436                                                NaN

                                               LearnCode  \
3      Other online resources (e.g., videos, blogs, f...
4      Other online resources (e.g., videos, blogs, f...
5      School (i.e., University, College, etc);Online...
7      Other online resources (e.g., videos, blogs, f...
8      Books / Physical media;Other online resources ...
...                                                  ...
65430                                                NaN
65431  Books / Physical media;Colleague;On the job tr...
65434  Other online resources (e.g., videos, blogs, f...
65435  On the job training;Other online resources (e....
65436                                                NaN

                                         LearnCodeOnline  ... JobSatPoints_6  \
3      Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4      Technical documentation;Blogs;Written Tutorial...  ...            NaN
5                                                    NaN  ...            NaN
7      Technical documentation;Video-based Online Cou...  ...            NaN
8            Stack Overflow;Written-based Online Courses  ...            NaN
...                                                  ...  ...            ...
65430                                                NaN  ...            NaN
65431  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
65434  Technical documentation;Stack Overflow;Social ...  ...            NaN
65435  Technical documentation;Blogs;Written Tutorial...  ...            0.0
65436                                                NaN  ...            NaN

      JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
3                NaN            NaN            NaN             NaN
4                NaN            NaN            NaN             NaN
5                NaN            NaN            NaN             NaN
7                NaN            NaN            NaN             NaN
8                NaN            NaN            NaN             NaN
...              ...            ...            ...             ...
65430            NaN            NaN            NaN             NaN
65431            NaN            NaN            NaN             NaN
65434            NaN            NaN            NaN             NaN
65435            0.0            0.0            0.0             0.0
65436            NaN            NaN            NaN             NaN

      JobSatPoints_11           SurveyLength                  SurveyEase  \
3                 NaN               Too long                        Easy
4                 NaN              Too short                        Easy
5                 NaN  Appropriate in length                        Easy
7                 NaN  Appropriate in length                   Difficult
8                 NaN  Appropriate in length  Neither easy nor difficult
...               ...                    ...                         ...
65430             NaN                    NaN                         NaN
65431             NaN                    NaN                         NaN
65434             NaN                    NaN                         NaN
65435             0.0                    NaN                         NaN
65436             NaN                    NaN                         NaN

      ConvertedCompYearly JobSat
3                     NaN    NaN
4                     NaN    NaN
5                     NaN    NaN
7                     NaN    NaN
8                     NaN    NaN
...                   ...    ...
65430                 NaN    NaN
65431                 NaN    NaN
65434                 NaN    NaN
65435                 NaN    NaN
65436                 NaN    NaN

[44606 rows x 114 columns]

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [6]:
## Write your code here
# Define mappings for standardizing Country and EdLevel columns
country_mapping = {
    'United States': 'USA',
    'United States of America': 'USA',
    'US': 'USA',
    'India': 'IND',
    'Republic of India': 'IND',
    # Add more mappings as needed
}

edlevel_mapping = {
    'Primary/elementary school': 'Primary',
    'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)': 'Secondary',
    'Bachelor’s degree (B.A., B.S., B.Eng., etc.)': 'Bachelor',
    'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)': 'Master',
    'Doctoral degree (Ph.D., Ed.D., etc.)': 'Doctorate',
    # Add more mappings as needed
}

# Apply the mappings to standardize the columns
df['Country'] = df['Country'].map(country_mapping).fillna(df['Country'])
df['EdLevel'] = df['EdLevel'].map(edlevel_mapping).fillna(df['EdLevel'])

# Display the first few rows of the standardized dataframe
print(df[['Country', 'EdLevel']].head())

                                             Country  \
0                                                USA
1  United Kingdom of Great Britain and Northern I...
2  United Kingdom of Great Britain and Northern I...
3                                             Canada
4                                             Norway

                                             EdLevel
0                                            Primary
1                                           Bachelor
2                                             Master
3  Some college/university study without earning ...
4                                          Secondary

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [8]:
## Write your code here
# Perform one-hot encoding on the Employment column
df_encoded = pd.get_dummies(df, columns=['Employment'])

# Display the first few rows of the encoded dataframe
print(df_encoded.head())

   ResponseId                      MainBranch                 Age RemoteWork  \
0           1  I am a developer by profession  Under 18 years old     Remote
1           2  I am a developer by profession     35-44 years old     Remote
2           3  I am a developer by profession     45-54 years old     Remote
3           4           I am learning to code     18-24 years old        NaN
4           5  I am a developer by profession     18-24 years old        NaN

    Check                                   CodingActivities  \
0  Apples                                              Hobby
1  Apples  Hobby;Contribute to open-source projects;Other...
2  Apples  Hobby;Contribute to open-source projects;Other...
3  Apples                                                NaN
4  Apples                                                NaN

                                             EdLevel  \
0                                            Primary
1                                           Bachelor
2                                             Master
3  Some college/university study without earning ...
4                                          Secondary

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  \
0                                                NaN
1  Technical documentation;Blogs;Books;Written Tu...
2  Technical documentation;Blogs;Books;Written Tu...
3  Stack Overflow;How-to videos;Interactive tutorial
4  Technical documentation;Blogs;Written Tutorial...

                                             TechDoc  ...  \
0                                                NaN  ...
1  API document(s) and/or SDK document(s);User gu...  ...
2  API document(s) and/or SDK document(s);User gu...  ...
3                                                NaN  ...
4  API document(s) and/or SDK document(s);User gu...  ...

  Employment_Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Retired  \
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

  Employment_Student, full-time;Student, part-time  \
0                                            False
1                                            False
2                                            False
3                                            False
4                                            False

  Employment_Student, full-time;Student, part-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Student, part-time;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, part-time  \
0                         False
1                         False
2                         False
3                         False
4                         False

  Employment_Student, part-time;Employed, part-time  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False

  Employment_Student, part-time;Retired
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

[5 rows x 223 columns]

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [9]:
## Write your code here
# Identify columns with the highest number of missing values
missing_values = df.isnull().sum()
missing_values_sorted = missing_values.sort_values(ascending=False)
print("Columns with the highest number of missing values:")
print(missing_values_sorted.head())

Columns with the highest number of missing values:
AINextMuch less integrated    64289
AINextLess integrated         63082
AINextNo change               52939
AINextMuch more integrated    51999
EmbeddedAdmired               48704
dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [10]:
## Write your code here
# Impute missing values in the 'ConvertedCompYearly' column with the median
df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly'].median(), inplace=True)

# Alternatively, you can impute missing values with the mean
# df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly'].mean(), inplace=True)

# Display the first few rows of the dataframe to verify the imputation
print(df[['ConvertedCompYearly']].head())

   ConvertedCompYearly
0              65000.0
1              65000.0
2              65000.0
3              65000.0
4              65000.0

/tmp/ipykernel_1919/3457453940.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly'].median(), inplace=True)

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [11]:
## Write your code here
# Identify the most frequent value in the 'RemoteWork' column
most_frequent_value = df['RemoteWork'].mode()[0]

# Impute missing values in the 'RemoteWork' column with the most frequent value
df['RemoteWork'].fillna(most_frequent_value, inplace=True)

# Display the first few rows of the dataframe to verify the imputation
print(df[['RemoteWork']].head())

                             RemoteWork
0                                Remote
1                                Remote
2                                Remote
3  Hybrid (some remote, some in-person)
4  Hybrid (some remote, some in-person)

/tmp/ipykernel_1919/152936872.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RemoteWork'].fillna(most_frequent_value, inplace=True)

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [13]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Initialize the Min-Max Scaler
scaler = MinMaxScaler()

# Apply Min-Max Scaling to the ConvertedCompYearly column
df['ConvertedCompYearly_MinMax'] = scaler.fit_transform(df[['ConvertedCompYearly']])

# Display the first few rows of the dataframe to verify the normalization
print(df[['ConvertedCompYearly', 'ConvertedCompYearly_MinMax']].head())

   ConvertedCompYearly  ConvertedCompYearly_MinMax
0              65000.0                    0.003998
1              65000.0                    0.003998
2              65000.0                    0.003998
3              65000.0                    0.003998
4              65000.0                    0.003998

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [15]:
import pandas as pd
import numpy as np

# Apply log transformation to the ConvertedCompYearly column
df['ConvertedCompYearly_Log'] = np.log(df['ConvertedCompYearly'] + 1)  # Adding 1 to avoid log(0)

# Display the first few rows of the dataframe to verify the transformation
print(df[['ConvertedCompYearly', 'ConvertedCompYearly_Log']].head())

   ConvertedCompYearly  ConvertedCompYearly_Log
0              65000.0                11.082158
1              65000.0                11.082158
2              65000.0                11.082158
3              65000.0                11.082158
4              65000.0                11.082158

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [17]:
## Write your code here
import pandas as pd

# Define a function to convert YearsCodePro to numeric values
def convert_years_code_pro(years):
    if years == 'Less than 1 year':
        return 0.5
    elif years == 'More than 50 years':
        return 51
    else:
        try:
            return float(years)
        except ValueError:
            return None

# Apply the conversion function to the YearsCodePro column
df['YearsCodeProNumeric'] = df['YearsCodePro'].apply(convert_years_code_pro)

# Define a function to categorize experience levels
def categorize_experience(years):
    if years is None:
        return 'Unknown'
    elif years < 1:
        return 'Beginner'
    elif 1 <= years < 3:
        return 'Junior'
    elif 3 <= years < 5:
        return 'Mid-level'
    elif 5 <= years < 10:
        return 'Senior'
    else:
        return 'Expert'

# Apply the function to the YearsCodeProNumeric column to create the ExperienceLevel column
df['ExperienceLevel'] = df['YearsCodeProNumeric'].apply(categorize_experience)

# Display the first few rows of the dataframe to verify the new column
print(df[['YearsCodePro', 'YearsCodeProNumeric', 'ExperienceLevel']].head())

  YearsCodePro  YearsCodeProNumeric ExperienceLevel
0          NaN                  NaN          Expert
1           17                 17.0          Expert
2           27                 27.0          Expert
3          NaN                  NaN          Expert
4          NaN                  NaN          Expert

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.